.wrapper {
    padding: 100px 100px 30vh;
    height: 100vh;
}

.block {
    height: 100%;
    box-shadow: 0 0 10px #ce1d1d;
    border-radius: 5px;
}

/* .block {
    урок сам
    /* background: linear-gradient(#ee4a4a, #156b1f 20%); */
    /* background: url("https://picsum.photos/id/35/200/300.jpg") 0 0 / auto no-repeat, url("https://picsum.photos/id/34/200/300.jpg") 100% 0 / auto 300px no-repeat, #206a85; */
    /* background-repeat: space; */
    /* background-position: 50px 50px; */
    /* background-attachment: scroll;
    overflow: auto; */
    /* background-size: cover; */

/* -------------- дз */

/* .block {
    background: url("https://picsum.photos/id/37/200/300.jpg") center center no-repeat, linear-gradient(#7cad41, #c75c86);
} */

.block {
    background-size: auto;
    background-position: center center;
    background-image: url("https://picsum.photos/id/37/200/300.jpg");
    background-repeat: no-repeat;
    background-color: linear-gradient(#ce1d1d, #444);
}