/* .content1__block {
    box-sizing: border-box;
    background-color: rgb(203, 178, 161);
    min-width: 300px;
    max-width: 700px;
    min-height: 300px;
    max-height: 700px;
}

.content1__image {
    padding: 50px;
    margin: 50px;
    
}

.content2__block {
    margin: 50px;
    border: 5px solid #811d1d;
    opacity: 0.5;
} */

.content3__block {
    padding: 25px 25px 0px 25px;
    /* max-height: 50vh;
    max-width: 50vw; */
    height: 100px;
    overflow: auto;
}