@font-face {
    font-family: "Antipasto Pro";
    font-weight: 300;
    font-style: normal;
    src: local("Antipasto Pro Light"),
        local("AntipastoPro-Light"),
        url("../fonts/AntipastoPro-Light.woff2") format("woff2"),
        url("../fonts/AntipastoPro-Light.woff") format("woff"),
        url("../fonts/AntipastoPro-Light.eot") format("eot");
    font-display: swap;
}

@font-face {
    font-family: "Antipasto Pro";
    font-weight: 700;
    font-style: normal;
    src: local("Antipasto Pro Bold"),
        local("AntipastoPro-Bold"),
        url("../fonts/AntipastoPro-Bold.woff2") format("woff2"),
        url("../fonts/AntipastoPro-Bold.woff") format("woff"),
        url("../fonts/AntipastoPro-Bold.eot") format("eot");
    font-display: swap;
}

.greet__text1 {
font-family: "Antipasto Pro", sans-serif;
font-weight: 300;
}
