.flexbox {
    background-color: bisque;
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: relative;
}

.block {
    font-size: 300%;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(34, 211, 52);
    align-items: center;
    justify-content: center;
}

.title::before {
    content: "";
    display: flex;
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 20%;
    position: absolute;
    top: 45%;
    left: -10px;
}

.title::after {
    content: "";
    display: flex;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 20%;
    position: absolute;
    top: 45%;
    left: 100px;
}
