/* .em {
    font-size: 1.5em;
}

.em__child {
    font-size: 2em;
}

.square {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}

.square {
    width: 30em;
    height: 30em;
    background-color: blueviolet;
}

.em1 {
    font-size: 1.5em;
}

.rem1 {
    font-size: 1.5rem;
}

.square-parent {
    border: 5px solid rgb(0, 0, 0);
    background-color: blanchedalmond;
}

.square-parent__child {
    background-color: aquamarine;
}

.square-parent {
    width: 700px;
    height: 700px;
    position: relative;
}

.square-parent__child {
    width: 100%;
    height: 100%;
}

.square-parent__child {
    position: absolute;
    top: 0%;
    left: 0%;
}

.vh {
    font-size: 2vw;
} */

.child {
    font-size: 3rem;
    line-height: 200%;
}