/* .title {
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-style: italic;
    font-weight: 900;
}

.text {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

.text1 {
    text-indent: 40px;
    letter-spacing: 5px;
} */

.text {
    text-indent: 25px;
    color: gray;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 10px;

}